.homepage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.homepage-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.homepage[data="overflow"] .homepage-container {
    overflow-y: visible;
}

.homepage .homepage-container > * {
    transition-duration: 2s;
}

.homepage[data="overflow"] .homepage-container > * {
    transform: translateY(-100vh);
}